# **Blood Glucose Monitor (BGM) Readings**

This program automates the manual process of converting an Excel sheet of blood glucose readings formatted for easy data entry into a CSV file formatted for data visualization in Tableau.

Run on Python 3.13 | No errors | No warnings

In [1]:
# Import packages

# For data manipulation
import numpy as np
import pandas as pd

# For handling warnings and exceptions
import warnings

# For working with datetime objects
from datetime import datetime

In [2]:
# Set the file options

# Suppress the warning about conditional formatting
warnings.filterwarnings("ignore", category=UserWarning, module='openpyxl')

In [3]:
# Load AM readings into dataframe df0
df0 = pd.read_excel("Blood Glucose Readings.xlsx", sheet_name="Readings", usecols=['Date', 'Time AM', 'Value AM'])

In [4]:
# Display the first 5 rows of the dataframe (df0)
df0.head()

        Date   Time AM  Value AM
0 2023-01-24  06:35:00     278.0
1 2023-01-25  06:15:00     266.0
2 2023-01-26  06:29:00     237.0
3 2023-01-27  06:22:00     302.0
4 2023-01-28  07:30:00     256.0

In [5]:
# Display basic information about the data 
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 909 entries, 0 to 908
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      909 non-null    datetime64[ns]
 1   Time AM   908 non-null    object
 2   Value AM  908 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 21.4+ KB

In [6]:
# Combine the Date and Time AM columns into a single column titled DateTime
df0['DateTime'] = df0['Date'].astype(str) + ' ' + df0['Time AM'].astype(str)

In [7]:
# Rename columns
df0.rename(columns={'Time AM': 'Time', 'Value AM': 'Value'}, inplace=True)

In [8]:
# Verify the changes
df0.head()

        Date      Time  Value             DateTime
0 2023-01-24  06:35:00  278.0  2023-01-24 06:35:00
1 2023-01-25  06:15:00  266.0  2023-01-25 06:15:00
2 2023-01-26  06:29:00  237.0  2023-01-26 06:29:00
3 2023-01-27  06:22:00  302.0  2023-01-27 06:22:00
4 2023-01-28  07:30:00  256.0  2023-01-28 07:30:00

In [9]:
# Load PM readings into dataframe df1
df1 = pd.read_excel("Blood Glucose Readings.xlsx", sheet_name="Readings", usecols=['Date', 'Time PM', 'Value PM'])

In [10]:
# Display the first 5 rows of the dataframe (df1)
df1.head()

        Date   Time PM  Value PM
0 2023-01-24  20:35:00     412.0
1 2023-01-25  20:35:00     359.0
2 2023-01-26  21:31:00     305.0
3 2023-01-27  20:24:00     257.0
4 2023-01-28  20:35:00     379.0

In [11]:
# Display basic information about the data 
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 909 entries, 0 to 908
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      909 non-null    datetime64[ns]
 1   Time PM   908 non-null    object
 2   Value PM  908 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 21.4+ KB

In [12]:
# Combine the Date and Time PM columns into a single column titled DateTime
df1['DateTime'] = df1['Date'].astype(str) + ' ' + df1['Time PM'].astype(str)

In [13]:
# Rename columns
df1.rename(columns={'Time PM': 'Time', 'Value PM': 'Value'}, inplace=True)

In [14]:
# Verify the changes
df1.head()

        Date      Time  Value             DateTime
0 2023-01-24  20:35:00  412.0  2023-01-24 20:35:00
1 2023-01-25  20:35:00  359.0  2023-01-25 20:35:00
2 2023-01-26  21:31:00  305.0  2023-01-26 21:31:00
3 2023-01-27  20:24:00  257.0  2023-01-27 20:24:00
4 2023-01-28  20:35:00  379.0  2023-01-28 20:35:00

In [15]:
# Load EX readings into dataframe df2
df2 = pd.read_excel("Blood Glucose Readings.xlsx", sheet_name="Readings", usecols=['Date', 'Time EX', 'Value EX'])

In [16]:
# Display the first 5 rows of the dataframe (df2)
df2.head()

        Date Time EX  Value EX
0 2023-01-24     NaN       NaN
1 2023-01-25     NaN       NaN
2 2023-01-26     NaN       NaN
3 2023-01-27     NaN       NaN
4 2023-01-28     NaN       NaN

In [17]:
# Display basic information about the data 
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 909 entries, 0 to 908
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      909 non-null    datetime64[ns]
 1   Time EX   4 non-null      object
 2   Value EX  4 non-null      float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 21.4+ KB

In [18]:
# Combine the Date and Time EX columns into a single column titled DateTime
df2['DateTime'] = df2['Date'].astype(str) + ' ' + df2['Time EX'].astype(str)

In [19]:
# Rename columns
df2.rename(columns={'Time EX': 'Time', 'Value EX': 'Value'}, inplace=True)

In [20]:
# Verify the changes
df2.head()

        Date Time  Value        DateTime
0 2023-01-24  NaN    NaN  2023-01-24 nan
1 2023-01-25  NaN    NaN  2023-01-25 nan
2 2023-01-26  NaN    NaN  2023-01-26 nan
3 2023-01-27  NaN    NaN  2023-01-27 nan
4 2023-01-28  NaN    NaN  2023-01-28 nan

In [21]:
# Load EX2 readings into dataframe df3
df3 = pd.read_excel("Blood Glucose Readings.xlsx", sheet_name="Readings", usecols=['Date', 'Time EX2', 'Value EX2'])

In [22]:
# Display the first 5 rows of the dataframe
df3.head()

        Date Time EX2  Value EX2
0 2023-01-24      NaN        NaN
1 2023-01-25      NaN        NaN
2 2023-01-26      NaN        NaN
3 2023-01-27      NaN        NaN
4 2023-01-28      NaN        NaN

In [23]:
# Display basic information about the data 
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 909 entries, 0 to 908
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       909 non-null    datetime64[ns]
 1   Time EX2   1 non-null      object
 2   Value EX2  1 non-null      float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 21.4+ KB

In [24]:
# Combine the Date and Time EX columns into a single column titled DateTime
df3['DateTime'] = df3['Date'].astype(str) + ' ' + df3['Time EX2'].astype(str)

In [25]:
# Rename columns
df3.rename(columns={'Time EX2': 'Time', 'Value EX2': 'Value'}, inplace=True)

In [26]:
# Verify the changes
df3.head()

        Date Time  Value        DateTime
0 2023-01-24  NaN    NaN  2023-01-24 nan
1 2023-01-25  NaN    NaN  2023-01-25 nan
2 2023-01-26  NaN    NaN  2023-01-26 nan
3 2023-01-27  NaN    NaN  2023-01-27 nan
4 2023-01-28  NaN    NaN  2023-01-28 nan

In [27]:
# Combine dataframes
df4 = pd.concat([df0, df1, df2, df3], ignore_index=True)

In [28]:
# Display basic information about the data 
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3636 entries, 0 to 3635
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      3636 non-null   datetime64[ns]
 1   Time      1821 non-null   object
 2   Value     1821 non-null   float64
 3   DateTime  3636 non-null   object
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 113.8+ KB

In [29]:
# Create a column for Treatment
df4['Date'] = pd.to_datetime(df4['Date'])

conditions = [
    (df4['Date'] > '2025-02-25'),
    (df4['Date'] > '2024-06-18'),
    (df4['Date'] > '2024-01-30'),
    (df4['Date'] > '2023-07-18'),
    (df4['Date'] > '2023-02-28'),
    (df4['Date'] > '2023-01-31')
]

choices = [
    'Mounjaro 15',
    'Mounjaro 12.5',
    'Mounjaro 10',
    'Mounjaro 7.5',
    'Mounjaro 5',
    'Mounjaro 2.5'
]

df4['Treatment'] = np.select(conditions, choices, default='Untreated')

In [30]:
# Verify the changes
df4.head()

        Date      Time  Value             DateTime  Treatment
0 2023-01-24  06:35:00  278.0  2023-01-24 06:35:00  Untreated
1 2023-01-25  06:15:00  266.0  2023-01-25 06:15:00  Untreated
2 2023-01-26  06:29:00  237.0  2023-01-26 06:29:00  Untreated
3 2023-01-27  06:22:00  302.0  2023-01-27 06:22:00  Untreated
4 2023-01-28  07:30:00  256.0  2023-01-28 07:30:00  Untreated

In [31]:
# Rorder the columns
df4 = df4[['Date', 'Time', 'DateTime', 'Value', 'Treatment']]

In [32]:
# Sort the data by Date and Time
df4 = df4.sort_values(by=['Date', 'Time'])

In [33]:
# Drop rows with missing values
df4 = df4.dropna()

In [34]:
# Convert Time to datetime format
df4['Time'] = pd.to_datetime(df4['Time'], format='%H:%M:%S').dt.time

In [35]:
# Convert Time to AM/PM format
df4['Time'] = df4['Time'].apply(lambda x: x.strftime('%I:%M %p') if pd.notnull(x) else '')

In [36]:
# Value should have no decimal places
df4['Value'] = df4['Value'].astype(int)

In [37]:
# Add a column for Source
df4['Source'] = 'BGM'

In [38]:
# Make Sure Date is only the date, not date and time
df4['Date'] = df4['Date'].dt.date

In [39]:
# Reindex the dataframe
df4.reset_index(drop=True, inplace=True)

In [40]:
# Verify the changes
df4.head()

         Date      Time             DateTime  Value  Treatment Source
0  2023-01-24  06:35 AM  2023-01-24 06:35:00    278  Untreated    BGM
1  2023-01-24  08:35 PM  2023-01-24 20:35:00    412  Untreated    BGM
2  2023-01-25  06:15 AM  2023-01-25 06:15:00    266  Untreated    BGM
3  2023-01-25  08:35 PM  2023-01-25 20:35:00    359  Untreated    BGM
4  2023-01-26  06:29 AM  2023-01-26 06:29:00    237  Untreated    BGM

In [41]:
# Display basic information about the data
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1821 entries, 0 to 1820
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1821 non-null   object
 1   Time       1821 non-null   object
 2   DateTime   1821 non-null   object
 3   Value      1821 non-null   int64
 4   Treatment  1821 non-null   object
 5   Source     1821 non-null   object
dtypes: int64(1), object(5)
memory usage: 85.5+ KB

In [42]:
# Save the dataframe to a csv file
df4.to_csv('Blood Glucose readings for Analysis.csv', index=False)