# **Blood Glucose Monitor (BGM) Readings**

This program automates the manual process of converting an Excel sheet of blood glucose readings formatted for easy data entry into a CSV file formatted for data visualization in Tableau.

Run on Python 3.13 | No errors | No warnings

In [1]:
# Import packages

# For data manipulation
import numpy as np
import pandas as pd

# For handling warnings and exceptions
import warnings

# for displaying and modifying the working directory
import os as os

# For working with datetime objects
from datetime import datetime

In [2]:
# Set the file options

# Suppress the warning about conditional formatting
warnings.filterwarnings("ignore", category=UserWarning, module='openpyxl')

In [3]:
# Load AM readings into dataframe df0, load Value AM as integer
df0 = pd.read_excel("Blood Glucose Readings.xlsx", sheet_name="Readings", usecols=['Date', 'Time AM', 'Value AM'])

In [4]:
# Display the first 5 rows of the dataframe (df0)
df0.head()

        Date   Time AM  Value AM
0 2023-01-24  06:35:00     278.0
1 2023-01-25  06:15:00     266.0
2 2023-01-26  06:29:00     237.0
3 2023-01-27  06:22:00     302.0
4 2023-01-28  07:30:00     256.0

In [5]:
# Display basic information about the data 
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      685 non-null    datetime64[ns]
 1   Time AM   684 non-null    object
 2   Value AM  684 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 16.2+ KB

In [6]:
# Combine the Date and Time AM columns into a single column titled DateTime
df0['DateTime'] = df0['Date'].astype(str) + ' ' + df0['Time AM'].astype(str)

In [7]:
# Rename columns
df0.rename(columns={'Time AM': 'Time', 'Value AM': 'Value'}, inplace=True)

In [8]:
# Verify the changes
df0.head()

        Date      Time  Value             DateTime
0 2023-01-24  06:35:00  278.0  2023-01-24 06:35:00
1 2023-01-25  06:15:00  266.0  2023-01-25 06:15:00
2 2023-01-26  06:29:00  237.0  2023-01-26 06:29:00
3 2023-01-27  06:22:00  302.0  2023-01-27 06:22:00
4 2023-01-28  07:30:00  256.0  2023-01-28 07:30:00

In [9]:
# Load PM readings into dataframe df1, load Value PM as integer
df1 = pd.read_excel("Blood Glucose Readings.xlsx", sheet_name="Readings", usecols=['Date', 'Time PM', 'Value PM'])

In [10]:
# Display the first 5 rows of the dataframe (df1)
df1.head()

        Date   Time PM  Value PM
0 2023-01-24  20:35:00     412.0
1 2023-01-25  20:35:00     359.0
2 2023-01-26  21:31:00     305.0
3 2023-01-27  20:24:00     257.0
4 2023-01-28  20:35:00     379.0

In [11]:
# Display basic information about the data 
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      685 non-null    datetime64[ns]
 1   Time PM   684 non-null    object
 2   Value PM  684 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 16.2+ KB

In [12]:
# Combine the Date and Time PM columns into a single column titled DateTime
df1['DateTime'] = df1['Date'].astype(str) + ' ' + df1['Time PM'].astype(str)

In [13]:
# Rename columns
df1.rename(columns={'Time PM': 'Time', 'Value PM': 'Value'}, inplace=True)

In [14]:
# Verify the changes
df1.head()

        Date      Time  Value             DateTime
0 2023-01-24  20:35:00  412.0  2023-01-24 20:35:00
1 2023-01-25  20:35:00  359.0  2023-01-25 20:35:00
2 2023-01-26  21:31:00  305.0  2023-01-26 21:31:00
3 2023-01-27  20:24:00  257.0  2023-01-27 20:24:00
4 2023-01-28  20:35:00  379.0  2023-01-28 20:35:00

In [15]:
# Combine dataframes df0 and df1
df2 = pd.concat([df0, df1], ignore_index=True)

In [16]:
# Display basic information about the data 
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1370 entries, 0 to 1369
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      1370 non-null   datetime64[ns]
 1   Time      1368 non-null   object
 2   Value     1368 non-null   float64
 3   DateTime  1370 non-null   object
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 42.9+ KB

In [17]:
# Create a column for Treatment
df2['Date'] = pd.to_datetime(df2['Date'])

conditions = [
    (df2['Date'] > '2024-06-18'),
    (df2['Date'] > '2024-01-30'),
    (df2['Date'] > '2023-07-18'),
    (df2['Date'] > '2023-02-28'),
    (df2['Date'] > '2023-01-31')
]

choices = [
    'Mounjaro 12.5',
    'Mounjaro 10',
    'Mounjaro 7.5',
    'Mounjaro 5',
    'Mounjaro 2.5'
]

df2['Treatment'] = np.select(conditions, choices, default='Untreated')

In [18]:
# Verify the changes
df2.head()

        Date      Time  Value             DateTime  Treatment
0 2023-01-24  06:35:00  278.0  2023-01-24 06:35:00  Untreated
1 2023-01-25  06:15:00  266.0  2023-01-25 06:15:00  Untreated
2 2023-01-26  06:29:00  237.0  2023-01-26 06:29:00  Untreated
3 2023-01-27  06:22:00  302.0  2023-01-27 06:22:00  Untreated
4 2023-01-28  07:30:00  256.0  2023-01-28 07:30:00  Untreated

In [19]:
# Rorder the columns
df2 = df2[['Date', 'Time', 'DateTime', 'Value', 'Treatment']]

In [20]:
# Sort the data by Date and Time
df2 = df2.sort_values(by=['Date', 'Time'])

In [ ]:
# Drop rows with missing values
df2 = df2.dropna() # When the sheet is prepped for the next day, the last row has missing values that we don't need to include in the analysis

In [22]:
# Convert Time to datetime format
df2['Time'] = pd.to_datetime(df2['Time'], format='%H:%M:%S').dt.time

In [23]:
# Convert Time to AM/PM format
df2['Time'] = df2['Time'].apply(lambda x: x.strftime('%I:%M %p') if pd.notnull(x) else '')

In [24]:
# Value should have no decimal places
df2['Value'] = df2['Value'].astype(int)

In [25]:
# Add a column for Source
df2['Source'] = 'BGM'

In [26]:
# Make Sure Date is only the date, not date and time
df2['Date'] = df2['Date'].dt.date

In [27]:
# Reindex the dataframe
df2.reset_index(drop=True, inplace=True)

In [28]:
# Verify the changes
df2.head()

         Date      Time             DateTime  Value  Treatment Source
0  2023-01-24  06:35 AM  2023-01-24 06:35:00    278  Untreated    BGM
1  2023-01-24  08:35 PM  2023-01-24 20:35:00    412  Untreated    BGM
2  2023-01-25  06:15 AM  2023-01-25 06:15:00    266  Untreated    BGM
3  2023-01-25  08:35 PM  2023-01-25 20:35:00    359  Untreated    BGM
4  2023-01-26  06:29 AM  2023-01-26 06:29:00    237  Untreated    BGM

In [29]:
# Display basic information about the data
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1368 entries, 0 to 1367
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1368 non-null   object
 1   Time       1368 non-null   object
 2   DateTime   1368 non-null   object
 3   Value      1368 non-null   int64
 4   Treatment  1368 non-null   object
 5   Source     1368 non-null   object
dtypes: int64(1), object(5)
memory usage: 64.3+ KB

In [30]:
# Save the dataframe to a csv file
df2.to_csv('Blood Glucose readings for Analysis.csv', index=False)