# **Blood Glucose Monitor (BGM) Readings**

This program automates the manual process of converting an Excel sheet of blood glucose readings formatted for easy data entry into a CSV file formatted for data visualization in Tableau.

Run on Python 3.13 | No errors | No warnings

In [55]:
# Import packages

# For data manipulation
import numpy as np
import pandas as pd

# For handling warnings and exceptions
import warnings

# for displaying and modifying the working directory
import os as os

# For working with datetime objects
from datetime import datetime

In [56]:
# Set the file options

# Suppress the warning about conditional formatting
warnings.filterwarnings("ignore", category=UserWarning, module='openpyxl')

In [57]:
# Load AM readings into dataframe df0, load Value AM as integer
df0 = pd.read_excel("Blood Glucose Readings.xlsx", sheet_name="Readings", usecols=['Date', 'Time AM', 'Value AM'])

In [58]:
# Display the first 5 rows of the dataframe (df0)
df0.head()

        Date   Time AM  Value AM
0 2023-01-24  06:35:00     278.0
1 2023-01-25  06:15:00     266.0
2 2023-01-26  06:29:00     237.0
3 2023-01-27  06:22:00     302.0
4 2023-01-28  07:30:00     256.0

In [59]:
# Display basic information about the data 
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 721 entries, 0 to 720
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      721 non-null    datetime64[ns]
 1   Time AM   720 non-null    object
 2   Value AM  720 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 17.0+ KB

In [60]:
# Combine the Date and Time AM columns into a single column titled DateTime
df0['DateTime'] = df0['Date'].astype(str) + ' ' + df0['Time AM'].astype(str)

In [61]:
# Rename columns
df0.rename(columns={'Time AM': 'Time', 'Value AM': 'Value'}, inplace=True)

In [62]:
# Verify the changes
df0.head()

        Date      Time  Value             DateTime
0 2023-01-24  06:35:00  278.0  2023-01-24 06:35:00
1 2023-01-25  06:15:00  266.0  2023-01-25 06:15:00
2 2023-01-26  06:29:00  237.0  2023-01-26 06:29:00
3 2023-01-27  06:22:00  302.0  2023-01-27 06:22:00
4 2023-01-28  07:30:00  256.0  2023-01-28 07:30:00

In [63]:
# Load PM readings into dataframe df1, load Value PM as integer
df1 = pd.read_excel("Blood Glucose Readings.xlsx", sheet_name="Readings", usecols=['Date', 'Time PM', 'Value PM'])

In [64]:
# Display the first 5 rows of the dataframe (df1)
df1.head()

        Date   Time PM  Value PM
0 2023-01-24  20:35:00     412.0
1 2023-01-25  20:35:00     359.0
2 2023-01-26  21:31:00     305.0
3 2023-01-27  20:24:00     257.0
4 2023-01-28  20:35:00     379.0

In [65]:
# Display basic information about the data 
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 721 entries, 0 to 720
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      721 non-null    datetime64[ns]
 1   Time PM   720 non-null    object
 2   Value PM  720 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 17.0+ KB

In [66]:
# Combine the Date and Time PM columns into a single column titled DateTime
df1['DateTime'] = df1['Date'].astype(str) + ' ' + df1['Time PM'].astype(str)

In [67]:
# Rename columns
df1.rename(columns={'Time PM': 'Time', 'Value PM': 'Value'}, inplace=True)

In [68]:
# Verify the changes
df1.head()

        Date      Time  Value             DateTime
0 2023-01-24  20:35:00  412.0  2023-01-24 20:35:00
1 2023-01-25  20:35:00  359.0  2023-01-25 20:35:00
2 2023-01-26  21:31:00  305.0  2023-01-26 21:31:00
3 2023-01-27  20:24:00  257.0  2023-01-27 20:24:00
4 2023-01-28  20:35:00  379.0  2023-01-28 20:35:00

In [69]:
# Load EX readings into dataframe df2, load Value EX as integer
df2 = pd.read_excel("Blood Glucose Readings.xlsx", sheet_name="Readings", usecols=['Date', 'Time EX', 'Value EX'])

In [70]:
# Display the first 5 rows of the dataframe (df2)
df2.head()

        Date Time EX  Value EX
0 2023-01-24     NaN       NaN
1 2023-01-25     NaN       NaN
2 2023-01-26     NaN       NaN
3 2023-01-27     NaN       NaN
4 2023-01-28     NaN       NaN

In [71]:
# Display basic information about the data 
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 721 entries, 0 to 720
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      721 non-null    datetime64[ns]
 1   Time EX   2 non-null      object
 2   Value EX  2 non-null      float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 17.0+ KB

In [72]:
# Combine the Date and Time EX columns into a single column titled DateTime
df2['DateTime'] = df2['Date'].astype(str) + ' ' + df2['Time EX'].astype(str)

In [73]:
# Rename columns
df2.rename(columns={'Time EX': 'Time', 'Value EX': 'Value'}, inplace=True)

In [74]:
# Verify the changes
df2.head()

        Date Time  Value        DateTime
0 2023-01-24  NaN    NaN  2023-01-24 nan
1 2023-01-25  NaN    NaN  2023-01-25 nan
2 2023-01-26  NaN    NaN  2023-01-26 nan
3 2023-01-27  NaN    NaN  2023-01-27 nan
4 2023-01-28  NaN    NaN  2023-01-28 nan

In [75]:
# Combine dataframes df0 and df1
df3 = pd.concat([df0, df1, df2], ignore_index=True)

In [76]:
# Display basic information about the data 
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2163 entries, 0 to 2162
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      2163 non-null   datetime64[ns]
 1   Time      1442 non-null   object
 2   Value     1442 non-null   float64
 3   DateTime  2163 non-null   object
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 67.7+ KB

In [77]:
# Create a column for Treatment
df3['Date'] = pd.to_datetime(df3['Date'])

conditions = [
    (df3['Date'] > '2024-06-18'),
    (df3['Date'] > '2024-01-30'),
    (df3['Date'] > '2023-07-18'),
    (df3['Date'] > '2023-02-28'),
    (df3['Date'] > '2023-01-31')
]

choices = [
    'Mounjaro 12.5',
    'Mounjaro 10',
    'Mounjaro 7.5',
    'Mounjaro 5',
    'Mounjaro 2.5'
]

df3['Treatment'] = np.select(conditions, choices, default='Untreated')

In [78]:
# Verify the changes
df3.head()

        Date      Time  Value             DateTime  Treatment
0 2023-01-24  06:35:00  278.0  2023-01-24 06:35:00  Untreated
1 2023-01-25  06:15:00  266.0  2023-01-25 06:15:00  Untreated
2 2023-01-26  06:29:00  237.0  2023-01-26 06:29:00  Untreated
3 2023-01-27  06:22:00  302.0  2023-01-27 06:22:00  Untreated
4 2023-01-28  07:30:00  256.0  2023-01-28 07:30:00  Untreated

In [79]:
# Rorder the columns
df3 = df3[['Date', 'Time', 'DateTime', 'Value', 'Treatment']]

In [80]:
# Sort the data by Date and Time
df3 = df3.sort_values(by=['Date', 'Time'])

In [81]:
# Drop rows with missing values
df3 = df3.dropna() # When the sheet is prepped for the next day, the last row has missing values that we don't need to include in the analysis

In [82]:
# Convert Time to datetime format
df3['Time'] = pd.to_datetime(df3['Time'], format='%H:%M:%S').dt.time

In [83]:
# Convert Time to AM/PM format
df3['Time'] = df3['Time'].apply(lambda x: x.strftime('%I:%M %p') if pd.notnull(x) else '')

In [84]:
# Value should have no decimal places
df3['Value'] = df3['Value'].astype(int)

In [85]:
# Add a column for Source
df3['Source'] = 'BGM'

In [86]:
# Make Sure Date is only the date, not date and time
df2['Date'] = df2['Date'].dt.date

In [87]:
# Reindex the dataframe
df3.reset_index(drop=True, inplace=True)

In [88]:
# Verify the changes
df3.head()

        Date      Time             DateTime  Value  Treatment Source
0 2023-01-24  06:35 AM  2023-01-24 06:35:00    278  Untreated    BGM
1 2023-01-24  08:35 PM  2023-01-24 20:35:00    412  Untreated    BGM
2 2023-01-25  06:15 AM  2023-01-25 06:15:00    266  Untreated    BGM
3 2023-01-25  08:35 PM  2023-01-25 20:35:00    359  Untreated    BGM
4 2023-01-26  06:29 AM  2023-01-26 06:29:00    237  Untreated    BGM

In [89]:
# Display basic information about the data
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1442 entries, 0 to 1441
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1442 non-null   datetime64[ns]
 1   Time       1442 non-null   object
 2   DateTime   1442 non-null   object
 3   Value      1442 non-null   int64
 4   Treatment  1442 non-null   object
 5   Source     1442 non-null   object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 67.7+ KB

In [90]:
# Save the dataframe to a csv file
df3.to_csv('Blood Glucose readings for Analysis.csv', index=False)